body{

    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
    background:#111;
    color:white;

}


.container{

    width:90%;
    max-width:900px;
    margin:auto;
    padding:30px;

}


h1{

    text-align:center;
    color:red;
    margin-bottom:30px;

}


.card{

    background:#222;
    padding:20px;
    margin-bottom:20px;
    border-radius:15px;
    box-shadow:0px 0px 15px rgba(255,0,0,0.5);

}


.status-box{

    background:#1b1b1b;
    padding:20px;
    margin-bottom:20px;
    border-radius:15px;
    border:2px solid red;

}


.status-box p{

    font-size:18px;
    padding:5px;

}


a{

    display:inline-block;
    margin-top:10px;
    padding:10px 15px;
    background:red;
    color:white;
    text-decoration:none;
    border-radius:8px;

}


a:hover{

    background:darkred;

}


audio{

    width:100%;

}


video{

    border-radius:10px;

}